.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  border-bottom: 1px solid #121214;
  padding: 2rem 2rem;

  .bannerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      text-align: justify;
      font-size: 1.2rem;
      padding: 0;
      margin-top: 20px;
    }

    a {
      background: #121214;
      color: #ffe600;
      border-radius: 4px;
      padding: 5px 15px;
      margin-top: 15px;

      &:hover {
        filter: brightness(1.8);
      }
    }
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #121214;
    padding: 1rem 2rem;

    .bannerText {
      margin-right: 60px;

      p {
        font-size: 1.3rem;
        text-align: justify;
      }

      a {
        padding: 10px 30px;
        margin-top: 25px;
        font-size: 1.2rem;
      }
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #121214;
    padding: 1rem 2rem;

    .bannerText {
      margin-left: 150px;
      width: 40vw;
      p {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 45px;
      }

      a {
        padding: 10px 30px;
        margin-top: 25px;
        font-size: 1.2rem;
      }
    }
  }
}

.categories {
  width: 100%;
  height: 100%;
  padding: 0.9rem 0;
  background: #e1e1e6;
}
